.container{
    padding: 150px;
}

#rules {
    margin:30px;
    padding:30px;
}

.heading {
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 24px;
}

.scramble-table tr td{
    border: 1px solid black;
    cursor:pointer
}

.row {
    margin-top: 20px;
}

.scramble-table {
    table-layout: fixed;
    width:100%;
    text-align:center
}
.word-list {
    text-transform: uppercase;
    line-height: 1.2em
}
.hidden {
    display: none
}
.temp-select{
    background-color:red !important
}
.word-match{
    background-color: green !important;
}
.active-star{
    color: gold;
}

.rating-div * {
    cursor: pointer;
}